doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title HACKAHEALTH 2019
    link(rel="stylesheet" href="css/animate.css" type="text/css")
    link(rel="stylesheet" href="style.css" type="text/css")
    style.
      .wow:first-child {
      visibility: hidden;
      }
      

  body
    header#header-index.animated
      .container.animated.fadeInDown
        nav.navbar.navbar-default
          .container-fluid
            ul.nav.navbar-nav
              li.active
                a(href="#") HACKAHEALTH


        if authen
          main
            .container.border-boxi.box-text
              .col-md-12
                h3 کاربران


        else
          main 
            .container.border-boxi
              img.backsvg(src="images/und.svg")
              .col-md-12
                img.img-responsive.logotop(src="images/Awareness_Ribbons.png")
                form.login-box(action="/" method="POST")
                  input(type="text" name="username" placeholder="نام کاربری ")
                  br
                  input(type="password" name="password" placeholder="رمز عبور")
                  br
                  input.login-box-sub(type='submit', value='ورود به سیستم')
                  if message != false
                    .alert.error
                    strong خطا!
                    p=error

      

    footer
      .container-fluid.copy-right-text
        p © 2nd Iranian Health Hackathon -HACKAHEALTH 2019