doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title HACKAHEALTH 2019
    link(rel="stylesheet" href="css/animate.css")
    link(rel="stylesheet" href="style.css")
    style.
      .wow:first-child {
      visibility: hidden;
      }
  body
    header#header-index.animated
      .container.animated.fadeInDown
        nav.navbar.navbar-default
          .container-fluid
            ul.nav.navbar-nav
              li.active
                a(href="#") صفحه اصلی

    main
      .container.border-boxi
        img.backsvg(src="images/und.svg")
        .col-md-12
          img.img-responsive.logotop(src="images/Awareness_Ribbons.png")
          form.login-box(action="" method="POST")
            input(type="text" placeholder="نام کاربری ")
            br
            input(type="text" placeholder="رمز عبور")
            br
            a(href="#")
              button ورود به سیستم
    footer
      .container-fluid.copy-right-text
        p © 2nd Iranian Health Hackathon -HACKAHEALTH 2019
