doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title HACKAHEALTH
		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="style.css")
		style.
			.wow:first-child {
			visibility: hidden;
			}
	body
		header#header-index.animated
			.container.animated.fadeInDown
				nav.navbar.navbar-default
					.container-fluid
						ul.nav.navbar-nav
							li.active
								a(href="#") HACKAHEALTH
		main
			.container.border-boxi.box-text
				.col-md-12
					h3 کاربران
					form.search-form
						input(type="text" placeholder="جستجو...")
						button(type="button") جستجو کنید
		footer
			.container-fluid.copy-right-text
				p © 2nd Iranian Health Hackathon -HACKAHEALTH 2019
